.image-detail{
    height: 100%;
    width: 100%;
    
}
.image-detail img {
    height: 100%;
    width: 100%;
    border-radius: 11%;
    padding: 1rem;
}
.casts{
    background-color: #f5f5f5;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    min-height: 100%;
}
.casts img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.overlay {
    position: absolute;
    display: flex;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8071603641456583) 0%, rgba(0,0,0,0.835171568627451) 100%);
}
.person-container{
    display: flex; 
    overflow-y: hidden;
    overflow-x: scroll;
    
}