header {
	height: 4rem;
	padding: 1rem;
}
.search {
	font-family: inherit;
	border: 2px solid #2c2d3a;
	color: white;
	border-radius: 50px;
	background-color: transparent;
	font-size: 1.2rem;
	padding: 0.5rem 1.5rem;
}
.Dropdown {
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
	width: 45rem;
}
.item-dropdown {
	width: 20%;
	padding: 0.25rem 1.5rem;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
}
.item-dropdown:hover {
	background-color: #f0e9e9;
}
.link-dropdown {
	color: black;
}
.link-dropdown:hover {
	text-decoration: none;
}
