body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.bgGrey {
	background-color: #dadada;
}
.movie-container {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 0.5rem;
}
.background-vote {
	background-color: #081c22;
	position: absolute;
	top: -2rem;
	left: 0.5rem;
	border-radius: 50%;
	height: 56px;
	width: 56px;
}
.tag {
	position: absolute;
	top: 0.16rem;
	left: 0.18rem;
	padding: 0.65rem;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: #fff;
	font-weight: bold;
}
.tag.green {
	border: 3px solid green;
}
.tag.orange {
	border: 3px solid orange;
}
.tag.red {
	border: 3px solid red;
}
.title {
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
.title:hover {
	text-decoration: none;
}
.underline {
	border-bottom: 1px solid rgb(158, 158, 158);
	padding-top: 0.2rem;
}
.space-img {
	padding-left: 7.5rem !important;
	padding-right: 19.5rem !important;
}
@media (max-width: 576px) {
	.carousel-center img {
		height: 270px;
		width: 100%;
	}
	.space-img {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
		margin-left: 5rem !important;
	}
	.space-img img {
		height: 200px;
		width: 200px;
	}
	.mg {
		margin-bottom: 3rem !important;
		font-size: 14px !important;
	}
	.btn-play {
		position: absolute;
		top: 40%;
		left: 35%;
	}
}

@media (min-width: 576px) {
	.carousel-center img {
		height: 350px;
		width: 100%;
	}
	.mg {
		margin-bottom: 3rem !important;
	}
	.mg-detail {
		margin-left: 13rem !important;
	}
	.space-img img {
		height: 250px;
		width: 250px;
	}
	.btn-play {
		position: absolute;
		top: 40%;
		left: 30%;
	}
}

@media (min-width: 768px) {
	.carousel-center img {
		height: 550px;
		width: 100%;
	}
	.space-img {
		margin-left: 8rem !important;
		padding-right: 19rem !important;
	}
	.mg {
		margin-left: 8rem !important;
		margin-bottom: 3rem !important;
	}
	.underline {
		font-size: 20px;
		color: black;
	}
	.btn-play {
		position: absolute;
		top: 40%;
		left: 30%;
	}
}

@media (min-width: 992px) {
	.carousel-center img {
		height: 600px;
		width: 100%;
	}
	.space-img {
		margin-left: 12rem !important;
		padding-right: 19rem !important;
	}
	.mg {
		margin-left: 10rem !important;
		margin-bottom: 3rem !important;
	}
	.btn-play {
		position: absolute;
		top: 40%;
		left: 35%;
	}
}
@media (min-width: 1140px) {
	.carousel-center img {
		height: 700px;
		width: 100%;
	}
	.mg,
	.space-img {
		margin-left: 0rem !important;
	}
}
